* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  /* background-color: rgb(51, 255, 0); */
  display: flex;
  width: 100%;
  height: 12vh;
  /* align-items: center; */
  align-items: flex-start;
  justify-content: space-between;
  padding: 2vw 10.4vw;
  background-color: #111;
  z-index: 10;

}

.nav-part2 {
  display: flex;
  gap: 2vw;
  align-items: flex-start;
  padding: 1vh 0;
  position: relative;
  z-index: 10;
}

.nav-part2 h4 {
  font-size: 0.73vw;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2.6vw;
}

.nav-part2 h5 {
  margin-bottom: 1vw;
  /* background-color: red; */
  display: none;
  overflow: hidden;
}

.nav-part2 h5 span {
  font-size: 0.77vw;
  font-weight: 400;
  transform: translateY(25px);
  display: inline-block;
}

/* nav:hover #nav-bottom { */
/* height: 100%; */
/* bottom: -100%; */
/* } */

/* #nav-bottom {
  /* background-color: red; */
/* height: 100%; */
/* height: 0%; */
/* width: 79%; */
/* position: absolute; */
/* bottom: -100%; */
/* bottom: 0%; */
/* transition: all ease 0.70s; */
/* border-bottom: 1.3px solid rgb(183, 177, 177); */
/* } */

nav button {
  background-color: #0DA34E;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  font-size: 0.85vw;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;
}

nav button svg {
  height: 0.8vw;
  margin-left: 1.65vw;
}

#nav-bottom {
  width: 79%;
  /* height: 40%; */
  /* height: 22vh; */
  height: 0vh;
  position: absolute;
  /* background-color: red; */
  /* bottom: 0; */
  top: 100%;
  background-color: #111;
  z-index: 9;
  border-bottom: 1px solid #fff;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page1 h1 {
  font-size: 8.5vw;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 8.5vw;

}

#page1 h1 svg {
  margin: 0;
  padding: 0;
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  background-color: #0DA34E;
}

#page1 p {
  text-align: center;
  font-weight: 400;
  margin-top: 4vh;
}

#page1-something {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1-something h4 {
  font-weight: 400;
  font-size: 1vw;
  text-transform: lowercase;
  margin-top: 0.5vw;
  padding: 9px 18px;
  border-radius: 50px;
  border: 1px solid rgb(155, 154, 154);
}

#page1-something h4:nth-last-child(2) {
  /*background-color: red;*/
  border: none;
  padding: 2px;
}

#moving-div {
  position: relative;
  /* background-color: red; */
  margin-top: 10vh;
  position: absolute;
  bottom: 5%;
  /* display: flex; */
  width: 44%;
  white-space: nowrap;
  /* badha element ek line ma aavi jashe.*/
  padding: 2vw;
  overflow: hidden;
}

#moving-div .move {
  /* display: flex;
  align-items: center;
  gap: 2vw; */
  display: inline-block;
  animation-name: movve;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#moving-div .move img {
  height: 1vw;
  margin: 0 1.2vw;
}

@keyframes movve {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

#blur-left {
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, #111, transparent);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#blur-right {
  height: 100%;
  width: 20%;
  /* background: linear-gradient(to right, red, blue); */
  background: linear-gradient(to right, transparent, #111);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

#page2 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  position: relative;
  padding: 0vw 10.5vw;
  padding-bottom: 8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #333;
}

#page2-left {
  height: 100%;
  width: 40%;
  /* background-color: #333; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 3vw 0;
}

#page2-left p {
  font-size: 0.8vw;
}

#page2-left h5 {
  width: 75%;
  font-weight: 400;
  font-size: 1.1vw;
}

#page2-right {
  height: 100%;
  width: 50%;
  /* background-color: #333; */
}

.right-elem {
  position: relative;
  /* background-color: red; */
  padding-top: 2vw;
  padding-bottom: 5vw;
  border-bottom: 1px solid #333;
}

.right-elem h2 {
  font-size: 1.4vw;
  font-weight: 400;
}

.right-elem img {
  height: 7vw;
  width: 7vw;
  /* border-radius: 50%; */
  object-fit: cover;
  position: absolute;
  opacity: 0;
  scale: 0;
}

#right-elem1 img,
#right-elem2 img,
#right-elem3 img {
  border-radius: 50%;
}

#right-elem4 img {
  border-radius: 25%;
}

#page3 {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: relative;
  background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
  /* background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.page3-center {
  /* background-color: red; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1vw;
}

.page3-center .icon {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5vw;
  border-radius: 50%;
  background-color: #fff;
}

.page3-center .icon i {
  font-size: 2.8vw;
  color: #111;
}

.page3-center h5 {
  font-size: 0.7vw;
  background-color: #fff;
  color: #111;
  border-radius: 50px;
  padding: 6px 15px;
  margin-top: 0.6vw;
  font-weight: 700;
  opacity: 0;
  transition: all ease 0.65s;
  transform: translateY(10%);
  text-transform: uppercase;
}

.page3-center:hover h5 {
  opacity: 1;
  /* margin-top: 0.6vw; */
  transform: translateY(0%);
}

#page3 video {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  transform: scaleX(0.7) scaleY(0);
  opacity: 0;
  border-radius: 30px;
  z-index: 9999;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  position: relative;
  padding-bottom: 10vh;
}

.section {
  /* height: 100vh; */
  height: 72vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13vh 10vw;
  padding-bottom: 0;
}

.sec-left {
  height: 100%;
  width: 25%;
  /* background-color: aqua;  */
  padding-top: 2.5vh;
  border-top: 2.5px solid rgb(61, 57, 57);
  padding-left: 5px;
}

.sec-left h2 {
  font-size: 2.2vw;
  font-weight: 500;
  color: #111;
}

.sec-left p {
  color: #111;
  margin-top: 15vh;
  font-size: 1.07vw;
  width: 95%;
  font-weight: 500;
}

.sec-right {
  height: 100%;
  width: 70%;
  background-color: bisque;
  position: relative;
}

.sec-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sec-right video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0;
  transition: opacity ease 0.1s;
}

#page5 {
  min-height: 100vh;
  background-color: #111;
  width: 100%;
  position: relative;
  padding: 5vh 10vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#page5 button {
  background-color: #0BA34E;
  padding: 0.9vw 2.5vw;
  font-weight: 600;
  font-size: 1vw;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
}

#page5-right {
  width: 70%;
}